<div class="container w-full flex h-[70px]  items-center  mx-auto z-[99999999] ">
    <div class="w-full flex items-center justify-between  ">
        <div class="w-12 h-12">
            <img class="w-full" src="/assets/logo.png" alt="">
        </div>
        <div>
            <button routerLink="/register"
                class=" p-2 border text-sm border-primary-lite hover:bg-primary-lite hover:text-white text-primary-lite uppercase rounded-full ">Getting
                Started</button>
        </div>
    </div>
</div>