<div *ngIf="true" @slideIn class="">

    <p class="max-w-[1000px] mx-auto text-4xl my-6">Let's start</p>
    <div class="max-w-[700px] mx-auto bg-slate-50">
        <p class="text-2xl text-gray-600">Choose your business location</p>
        <p class="mt-4 text-gray-500">We use this to match you with jobs nearby.</p>
        <br>
        <br>

        <form [formGroup]="newEmployerAddress" (submit)="send()">



            <div class="w-full">
                <label [for]="'road_area'" class="font-semibold">
                    Address <small class="text-sm">(House/ Road/ Zone) </small>
                    <span class="font-extrabold text-red-900">*</span>
                </label>
                <div class="custom-input-container">

                    <mat-icon class="custom-input-icon-start">location_city</mat-icon>
                    <input [formControlName]="'road_area'" input required class="custom-input" [name]="'road_area'"
                        [placeholder]="'House:00, Road: Bla Bla Bla, Area: Brum'" [type]="'text'" />
                </div>
            </div>


            <div class="flex xl:flex-row flex-col w-full gap-x-3">


                <div class="w-2/3">
                    <label [for]="'state_city'" class="font-semibold">
                        State, City
                        <span class="font-extrabold text-red-900">*</span>
                    </label>
                    <div class="custom-input-container">

                        <mat-icon class="custom-input-icon-start">location_city</mat-icon>
                        <input [formControlName]="'state_city'" input required class="custom-input"
                            [name]="'state_city'" [placeholder]="'Dhaka'" [type]="'text'" />
                    </div>
                </div>

                <div>
                    <label [for]="'zip_code'" class="font-semibold">
                        Zip Code
                        <span class="font-extrabold text-red-900">*</span>
                    </label>
                    <div class="custom-input-container">

                        <input [formControlName]="'zip_code'" input required class="custom-input" [name]="'zip_code'"
                            [placeholder]="'00000'" [type]="'text'" />
                    </div>
                </div>


            </div>

            <button type="submit"
                class="block px-4  bg-indigo-600 mt-4 py-3 rounded-md text-white font-semibold my-2">Continue</button>

        </form>
    </div>
</div>